@page
@model IdentityServer.Pages.Udap.IndexModel
@{
}

<div class="admin-page">
    <h2>UDAP Admin</h2>

    <div class="row">
        <p>Administration for UDAP-specific tables.</p>
    </div>

    <div class="row">
        <div class="list-group">
            <a class="list-group-item list-group-item-action" asp-page="/Udap/Anchors/Index">Anchors</a>
            <a class="list-group-item list-group-item-action" asp-page="/Udap/Communities/Index">Communities</a>
        </div>
    </div>
</div>
