@page
@model IdentityServer.Pages.Udap.Communities.NewModel
@{
}

<div>
    <div class="mb-4">
        <h2 class="display-6 mb-3">
            <i class="fa-solid fa-plus-circle text-primary me-2"></i>
            New Community
        </h2>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-8">
            <partial name="_ValidationSummary" />

            <div class="card elevation-2">
                <div class="card-header">
                    <i class="fa-solid fa-users me-2"></i>
                    Community Details
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="mb-4">
                            <label asp-for="@Model.InputModel.Name" class="form-label">Community Name</label>
                            <div class="form-outline" data-mdb-input-init>
                                <input class="form-control form-control-lg" asp-for="@Model.InputModel.Name" placeholder="Enter community name" autofocus />
                            </div>
                            <small class="text-muted">A descriptive name for the trust community</small>
                        </div>

                        <div class="d-flex gap-2">
                            <button class="btn btn-primary btn-lg" type="submit">
                                <i class="fa-solid fa-save me-2"></i>Create Community
                            </button>
                            <a class="btn btn-secondary btn-lg" asp-page="/Udap/Communities/Index">
                                <i class="fa-solid fa-times me-2"></i>Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
